body{
	margin: 0 auto;
	font-family: 'Ubuntu', sans-serif;
}
ol{
	list-style: disc;
	color: black;
}
.background{
	background-image: url("../imagenes/background.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
/* .menu li::before{
	content: "⨀";
	color: white;
} */
.contenedor{
	margin: auto;
	width: 900px;
}
.header{
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
}
.logotipo {
	margin-left: 0px;
	display: inline-block;
}
.menu li{
	display: inline-block;
	margin-left: 30px;
}

.menu a{
	-webkit-transition: color 0.3s ease;
	-moz-transition: color 0.3s ease;
	-ms-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
	color: #fff;
	text-decoration: none;
}
.menu a:hover{
	color: #C71A00;
}
.menu {
	margin-top: 35px;
	display: inline-block;
	font-size: 24px;
}
.portada {
	padding: 20px;
	color: #0083C7;
}
.portada h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: 60px;
	margin-top: -18px;
	margin-bottom: 0;
}
.portada div{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	height: 450px;
}
.portada h3{
	margin:0;
	font-size: 20px;
}
.guitarras h2{
	font-size: 35px;
	margin: 50px 0;
	font-family: 'Montserrat', sans-serif;
}
.guitarras{
	color: #0083C7;
}

.guitarra{
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 2px solid #C76F00;
	padding: 20px;
	margin: 30px;
	border-radius: 10px;
}
.guitarra ol {
	padding: 0;
}
.guitarra h3 {
	margin-bottom: 15px;
	font-size: 2em;
}
.abajo {
	margin-bottom: 80px;
}
.contenedor-guitar-a{
	margin-left: 30px;
}
.contenedor-guitar-b{
	margin-right: 30px;
}
footer{
	background:linear-gradient(to bottom,#37383D,#000);
}
.contacto {
	width: 300px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.contacto img
{	
	padding-top: 30px;
	display: block;
	margin: auto;
}
.contacto a{
	margin-left: 20px;
	display: flex;
	flex-direction: column;
	color: #fff;
	text-decoration: none;
}
.formulario
{
	color: #fff;
	padding: 30px;
	width: 530px;
	display: flex;
	font-family: 'Montserrat', sans-serif;
}
.cfooter{
	display: flex;
	justify-content: space-between;
}
.dPersonales{
	display: flex;
	flex-direction: column;
}
.dPersonales input{
	margin-top: 10px;
	width: 90%;
}
.boton{
	border-radius: 12px;
	color: #fff;
	background: linear-gradient(to left, #C71A00, #C76F00);
	padding: 8px 15px;
	cursor: pointer;
	border: none;
	text-decoration: none;
	margin-top: 12px;
	font-size: 1.2em;
}
.boton:hover{
	background: #C71A00;
	transition: all 0.5s linear;
}
input:focus, textarea:focus{
	outline: 0;
	background-color: lightgray;
}
.col1 input{
	border: none;
	height: 20px;
}

.intereses {
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
}
.intereses label{
	margin-right: 10px;
}
#asunto{
	margin-top: 10px;
}
table
{
	margin: 190px 0;
	border-collapse: collapse;
	width: 100%;
}
th{
	text-align: left;
	color: #fff;
	padding: 15px;
	background-color: #C76F00;
}
td{
	padding: 20px;
}
table, td, th{
	border: 1px solid #C71A00;
}